doctype html
html
  head
    title User Profile
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script(src="https://cdn.socket.io/4.0.0/socket.io.min.js")
    script(src="/js/main.js") // External WebSocket script
  body
    div#notification-bar(style="display: none; position: fixed; top: 0; width: 100%; background: #333; color: #fff; text-align: center; padding: 10px;")
    script.
      // JavaScript to fetch user details and register socket events
      document.addEventListener('DOMContentLoaded', async () => {
        const accessToken = localStorage.getItem('accessToken')
        //- console.log('access token ' + accessToken)
        
        if (!accessToken) {
          alert('You need to log in first.')
          window.location.href = '/login'
          return
        }

        try {
          console.log('access token ' + accessToken)
          const response = await axios.get('/api/users/me', {
            headers: {
              'Content-Type': 'application/json',
              'Authorization': `Bearer ${accessToken}`
            }
          })

          const user = response.data.data  // Adjust based on your response structure
          const socket = initializeSocket(user, accessToken); // Using the external socket script
          // Populate user details on the page
          document.getElementById('userName').textContent = user.name
          document.getElementById('userEmail').textContent = user.email
          const genresList = document.getElementById('genresList')
          user.Genres.forEach(genre => {
            const li = document.createElement('li')
            li.textContent = genre.name
            genresList.appendChild(li)
          })

        } catch (error) {
          console.error('Error fetching user details:', error)
          alert(error.response.data.message || 'Failed to load user details')
          window.location.href = '/login'
        }
      })
  body
    h1 User Profile

    h2 Name: 
    p#userName Loading...

    h2 Email: 
    p#userEmail Loading...

    h2 Genres
    ul#genresList
      
